<!DOCTYPE HTML>

<html>
	<head>
		<title>Smart Food Planner</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">SFP <span>by ADA & JANA </span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">s
					<li><a href="/">Domů</a></li>
					<li><a href="muj_ucet">Můj účet</a></li>
					<li><a href="zasoby">Zásoby</a></li>
					<li><a href="jidelnicek">Jídelníček</a></li>
					<li><a href="elements">Elements</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h1>Registrace</h1>
							</header>
						</div>
					<!-- Form -->
						<div class="inner">
							<h3>Nový uživatel</h3>
								<form method="post" action="#">
									{{ form.hidden_tag() }}
										<p>{{ form.first_name.label }}{{ form.first_name(size=32) }}</p>
										<p>{{ form.last_name.label }}{{ form.last_name(size=32) }}</p>
										<p>{{ form.email.label }} {{ form.email(size=32) }}</p>
										<p>{{ form.password.label }}{{ form.password(size=32) }}</p>
										<p>{{ form.nickname.label }}{{ form.nickname(size=32) }}</p>
										<p>{{ form.household.label }}{{ form.household(size=32) }}</p> 
										<p>{{ form.age.label }}{{ form.age(size=32) }}</p>
										<p>{{ form.weight.label }}{{ form.weight(size=32) }}</p>
										<p>{{ form.height.label }}{{ form.height(size=32) }}</p>
										<p>{{ form.dailykj.label }}{{ form.dailykj(size=32) }}</p>
										<p>{{ form.makrobilkoviny.label }}{{ form.makrobilkoviny(size=32) }}</p>
										<p>{{ form.makrosacharidy.label }}{{ form.makrosacharidy(size=32) }}</p>
										<p>{{ form.makrotuky.label }}{{ form.makrotuky(size=32) }}</p>
										<p>{{ form.sex.label }}{{ form.sex(size=32) }}</p>
										<p>{{ form.submit() }}</p>
								</form>
					</section>
				
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<p>&copy; Smart Food Planner. All rights reserved.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>
